<div id="<%= node.id %>" class='content-node audio row'>
  <!-- Empty left column -->
  <!-- <div class="three columns"></div> -->

  <!-- Content -->
  <div class='nine columns content'>
    <div class="audio-wrapper">
      <audio controls="true" class="">
        <% _.each(node.getAudioFiles(), function(file) { %>
          <% if (file.content_type === "audio/mp3" || file.content_type === "audio/mpeg") { %>
            <source src="<%= file.id %>" type="audio/mpeg"/>
          <% } else if (file.content_type === "audio/ogg") { %>
            <source src="<%= file.id %>" type="audio/ogg"/>
          <% } else if (file.content_type === "audio/wav") { %>
            <source src="<%= file.id %>" type="audio/wav"/>
          <% } %>
        <% }); %>
      </audio>
      <% if (node.caption) { %>
        <div class="caption"><%= annotated([node.caption, 'content']) %></div>
      <% } %>
    </div>
  </div>

  <!-- Right column -->
  <div class="three columns">
    <% if (options.include_remarks) { %>
      <div class="remarks">
        <% annotations = node.document.indexes["annotations"].get(node.caption); %>
        
        <% _.each(annotations, function(a, key) { %>
          <% if (a.type === "remark_reference") { %>
            <div class="remark">
              <% var remark = node.document.get(a.target); %>
              <%= annotated([a.target, 'description']) %>
            </div>
          <% } %>
        <% }); %>
      </div>
    <% } %>
  </div>
</div>
