<div id="cover" class="content-node cover">

<% if (node.image) { %>
  <div class="cover-image">
    <img src="<%= node.image %>"/>
  </div>
<% } %>

<div class="content">

<h1><%= annotated(['cover', 'title']) %></h1>

<div class="article-meta">
  <% var authors = node.document.getAuthors(); %>
  <% if (authors.length > 0) { %>
    <div class="authors">
      By

      <%
        var authorNames = node.document.getAuthors().map(function(a) {
          return '<a href="#'+a.id+'" class="author">'+a.name+'</a>';
        });
      %>
      <%= authorNames.join(" and ") %>
    </div>
  <% } %>
  <div class="published-on"><%= new Date(node.document.published_on).toDateString() %></div>
</div>

<% if (node.document.abstract) { %>
  <div class="article-abstract">
    <%= annotated(['cover', 'abstract']) %>
  </div>
<% } %>

<% 
  var headings = [];
  var doc = node.document;
  var nodes = doc.get('content').nodes;
  _.each(nodes, function(nodeId) {
    var node = doc.get(nodeId);
    if (node.type === "heading") headings.push(node);
  });
%> 

<% if (options.include_toc && headings.length >= 2) { %>
<div class="toc">
  <div class="toc-title">Contents </div>
  <div class="toc-entries">
    <% _.each(headings, function(heading) { %>
      <div class="toc-entry level-<%= heading.level %>"><a href="#<%= heading.id %>"><%= heading.content %></a></div>
    <% }); %>
  </div>
</div>
<% } %>

</div>
</div>