<div id="<%= node.id %>" class='content-node figure row'>
  <div class='nine columns image'>
    <img src="<%= node.image %>">
  </div>
  <div class='three columns'>
    <div class="description">
      <% captionHTML = annotated([node.caption, 'content']); %>
      <% if (captionHTML) { %>
        <div class="figure-caption"><%= captionHTML %></div>
      <% } %>
      <% annotations = node.document.getIndex("annotations").get(node.caption); %>
      <% if (options.include_remarks && annotations.length > 0) { %>
      <div class="remarks">
        <% _.each(annotations, function(a, key) { %>
          <% if (a.type === "remark_reference") { %>
            <div class="remark">
              <% var remark = node.document.get(a.target); %>
              <%= annotated([a.target, 'description']) %>
            </div>
          <% } %>
        <% }); %>
      </div>
      <% } %>
    </div>

  </div>
</div>