<div id="<%= node.id %>" class='content-node text row'>
  <!-- Empty left column -->
  <!-- <div class="three columns"></div> -->

  <!-- Content -->
  <div class='nine columns content'>
    <%= annotated([node.id, 'content']) %>
  </div>

  <!-- Right column -->
  <div class="three columns">
      <% if (options.include_remarks) { %>
      <div class="remarks">
        <% annotations = node.document.getIndex("annotations").get(node.id); %>

        <% _.each(annotations, function(a, key) { %>
          <% if (a.type === "remark_reference") { %>
            <div class="remark">
              <% var remark = node.document.get(a.target); %>
              <%= annotated([a.target, 'description']) %>
            </div>
          <% } %>
        <% }); %>
      </div>
      <% } %>
  </div>
</div>
