<div id="<%= node.id %>" class='content-node video row'>
  <div class='nine columns video-wrapper'>

     <video controls="true" class="" poster="<%= node.poster %>">
     <% _.each(node.getVideoFiles(), function(file) { %>
      <% if (file.content_type === "video/mp4") { %>
        <source src="<%= file.id %>" type="video/mp4; codecs='avc1.42E01E, mp4a.40.2'"/>
      <% } else if (file.content_type === "video/ogg") { %>
        <source src="<%= file.id %>" type="video/ogg; codecs='theora, vorbis'"/>
      <% } else if (file.content_type === "video/webm") { %>
        <source src="<%= file.id %>" type="video/webm; codecs='vp8, vorbis'"/>
      <% } %>
    <% }); %>
    </video>

  </div>
  <div class='three columns'>
    <div class="description">
      <div class="figure-caption"><%= annotated([node.caption, 'content']) %></div>
      <div class="remarks">
        <% annotations = node.document.getIndex("annotations").get(node.caption); %>

        <% _.each(annotations, function(a, key) { %>
          <% if (a.type === "remark_reference") { %>
            <div class="remark">
              <% var remark = node.document.get(a.target); %>
              <%= annotated([a.target, 'description']) %>
            </div>
          <% } %>
        <% }); %>
      </div>
    </div>

  </div>
</div>